@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #273338;
}

.title-text {
  font-size: 30px;
  font-family: Short Stack;
  font-weight: bold;
  padding: 10px 0px;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  background-image: linear-gradient(to bottom, #273338, #464858);
}

.page {
  display: flex;
  justify-content: center;
  background-color: purple;
}

.comic-image {
  max-width: 100%;
  max-height: 100vh;
  width: auto;
  height: auto;
}

.nav-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 5px 0px;
  background-color: #464858;
}

.nav-button {
  border: none;
  background-color: transparent;
  color: white;
  font-family: Short Stack;
  font-size: 18px;
}

.nav-button:hover {
  color: #e1dcc9;
}

.nav-button:disabled {
  color: #9a8678;
}

.site-button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.site-button {
  font-size: 20px;
  padding: 2px 5px;
  border-radius: 0%;
  border: none;
  background-color: #273338;
  color: #e1dcc9;
  font-family: Short Stack;
}

.site-button:hover {
  color: white;
}

.footer {
  display: flex;
  background-image: linear-gradient(to top, #273338, #464858);
}

.information {
  font-family: Nunito Sans;
  font-size: 18px;
  color: white;
  padding: 20px 20px 20px 20px;
}

.center-vertically {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disabled {
  display: none;
}
