@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=LXGW+Marker+Gothic&display=swap");
@font-face {
  font-family: Neutralmarker;
  src: url(Neutralmarker-Regular.ttf);
}

:root {
  --dark-bg-color: #2d0e03;
  --light-bg-color: #5c352b;
  --dark-secondary-color: #5e4549;
  --header-text-color: #ebbc9e;
  --faint-text-color: #99945c;
  --dimmed-text-color: #9a8678;
  --light-text-color: #e1dcc9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--dark-bg-color);
}

.dark-background {
  background-color: var(--dark-bg-color);
}

.light-background {
  background-color: var(--light-bg-color);
}

.gradient-background-down {
  background-image: linear-gradient(
    to bottom,
    var(--dark-bg-color),
    var(--light-bg-color)
  );
}

.gradient-background-up {
  background-image: linear-gradient(
    to top,
    var(--dark-bg-color),
    var(--light-bg-color)
  );
}

.readable-text {
  font-family: Nunito Sans;
  font-size: 18px;
  color: white;
}

.title-text {
  font-size: 30px;
  font-family: Short Stack;
  font-weight: bold;
  padding: 10px 0px;
  color: white;
}

.description-container {
  padding: 20px 20px;
}

.description {
  font-size: 18px;
  font-family: Short Stack;
  text-align: center;
  color: white;
  padding: 30px 10px;
  background-color: var(--dark-bg-color);
  border: 1px solid transparent;
  background:
    linear-gradient(var(--dark-bg-color), var(--dark-bg-color)) padding-box,
    radial-gradient(
        ellipse at top left,
        var(--header-text-color),
        transparent 20%
      )
      border-box,
    radial-gradient(
        ellipse at top right,
        var(--header-text-color),
        transparent 20%
      )
      border-box,
    radial-gradient(
        ellipse at bottom left,
        var(--header-text-color),
        transparent 20%
      )
      border-box,
    radial-gradient(
        ellipse at bottom right,
        var(--header-text-color),
        transparent 20%
      )
      border-box;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
}

.protect-edges {
  padding: 20px;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.between {
  justify-content: space-between;
}

.centered {
  align-items: center;
}

.med-gap {
  gap: 20px;
}

.small-gap {
  gap: 10px;
}

.disabled {
  display: none;
}

.about-person-image {
  width: 100px;
  height: 100px;
}

.small-filler {
  width: 100%;
  height: 60px;
}

#central-column {
  align-self: center;
  max-width: 800px;
}

.comic-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.nav-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 5px 0px;
}

.nav-button {
  border: none;
  background-color: transparent;
  color: white;
  font-family: Short Stack;
  font-size: 18px;
}

.nav-button:hover {
  color: var(--light-text-color);
  cursor: pointer;
}

.nav-button:disabled {
  color: var(--dimmed-text-color);
}

.site-button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.site-button {
  font-size: 20px;
  padding: 2px 5px;
  border-image: linear-gradient(
      to top,
      var(--header-text-color) 0%,
      transparent 100%
    )
    1;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
  font-family: Short Stack;
}

.site-button:hover {
  color: white;
  cursor: pointer;
}

.copyright {
  font-family: Nunito Sans;
  font-size: 14px;
  color: var(--dimmed-text-color);
  text-align: center;
}

.archive-date-text {
  font-family: Nunito Sans;
  font-size: 14px;
}

.archive-page-text {
  font-family: Short Stack;
  font-size: 18px;
}

.archive-button {
  color: white;
}

.archive-button:hover {
  color: #e1dcc9;
}

.voting-header {
  font-family: Neutralmarker;
  font-size: 60px;
  color: var(--light-text-color);
}

.voting-timer {
  font-family: Nunito Sans;
  font-size: 16px;
  border: 1px solid var(--light-text-color);
  color: var(--light-text-color);
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

.voting-option {
  font-size: 50px;
  padding: 5px 5px;
  border-radius: 0%;
  background-color: var(--header-text-color);
  font-family: Neutralmarker;
  border: 1px solid var(--dark-secondary-color);
  color: var(--dark-bg-color);
}

.voting-option:hover {
  cursor: pointer;
}

.selected-voting-option {
  background-color: var(--faint-text-color);
  border: 1px solid var(--dark-bg-color);
}

.comments-header {
  font-size: 20px;
  color: var(--header-text-color);
  font-family: Short Stack;
  margin-bottom: -10px;
}

#comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.input {
  padding: 2px 5px;
  border-style: solid inset;
  border-width: 1px;
  background-color: var(--dark-secondary-color);
}

.input::placeholder {
  color: var(--faint-text-color);
  font-family: Nunito Sans;
  font-size: 18px;
}

.action-button {
  font-size: 18px;
  padding: 2px 5px;
  border-image: linear-gradient(
      to top,
      var(--header-text-color) 0%,
      transparent 100%
    )
    1;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  background-color: var(--dark-bg-color);
  color: #e1dcc9;
  font-family: Nunito Sans;
}

.action-button:hover {
  color: white;
  cursor: pointer;
}

.action-button:disabled {
  color: var(--dimmed-text-color);
}

.comment-container {
  border: 1px solid var(--header-text-color);
  font-family: Nunito Sans;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-author {
  font-size: 16px;
}

.comment-date {
  font-size: 15px;
  color: var(--faint-text-color);
}

.comment-content {
  padding: 0px 10px 10px 10px;
  font-size: 18px;
}

.comment-info {
  background-color: var(--dark-secondary-color);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
